### Spliting of data x_train , x_test , y_train , y_test

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('lic_data.csv')

In [5]:
df

   age  premium
0   25    18000
1   30    32000
2   35    40000
3   40    47000
4   45    55000

In [6]:
x = df['age']

In [7]:
y = df['premium']

In [8]:
x

0    25
1    30
2    35
3    40
4    45
Name: age, dtype: int64

In [9]:
y

0    18000
1    32000
2    40000
3    47000
4    55000
Name: premium, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [17]:
x_train

0    25
1    30
2    35
Name: age, dtype: int64

In [18]:
x_test

3    40
4    45
Name: age, dtype: int64

In [19]:
y_train

0    18000
1    32000
2    40000
Name: premium, dtype: int64

In [20]:
y_test

3    47000
4    55000
Name: premium, dtype: int64